.header {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: 810px;
  background: linear-gradient(89.31deg, #130044 0.52%, #43001a 99.34%), #c4c4c4;
  overflow: hidden;
  @media (max-width: 768px) {
    height: 700px;
  }
  &__particles {
    position: absolute;
    margin: 0 auto;
    width: 2560px;
    min-width: 2560px;
    z-index: 0;
  }
  &__wrapper {
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 425px) {
      justify-content: center;
    }
  }
  .logo {
    text-align: center;
    &__title {
      font-family: Alice;
      font-style: normal;
      font-weight: normal;
      font-size: 27px;
      line-height: 31px;
      letter-spacing: 0.1em;
      color: #eae2b7;
      @media (max-width: 1130px) {
        font-size: 20px;
      }
    }
    &__subtitle {
      font-family: Raleway;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      letter-spacing: 0.1em;
      color: #eae2b7;
      @media (max-width: 1130px) {
        font-size: 9px;
      }
    }
    .line {
      width: 90%;
      height: 2px;
      margin: 5px auto 7px;
      background: #eae2b7;
      @media (max-width: 1130px) {
        margin: 2px auto 8px;
      }
    }
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    @media (max-width: 1130px) {
      position: absolute;
      flex-direction: column;
      top: 200px;
      right: -70px;
    }
    a:not(:last-child) {
      margin-right: 10px;
      @media (max-width: 1130px) {
        margin-bottom: 20px;
      }
    }
    .menu__item {
      font-family: Raleway;
      font-style: normal;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 0.1em;
      color: #eae2b7;
      text-align: center;
      width: 160px;
      padding: 50px 0;
      background: rgba(0, 48, 73, 0.5);
      border-radius: 0px 0px 0px 20px;
      transition: all 0.3s ease-in-out;
      @media (max-width: 1130px) {
        padding: 20px 0 20px 40px;
        text-align: left;
        width: 250px;
      }
      &:hover {
        cursor: pointer;
        background: rgba(0, 48, 73, 1);
      }
    }
  }
}
